<!DOCTYPE html>
<html>
    <head>
        <title>Alisa's blog</title>
    </head>
<body>
    <header>
            <h1><a href="/">Alisa's First Blog (lolol)</a></h1>
        </header>

        {% for post in posts %}
            <article>
                <h2><a href="">{{ post.title }}</a></h2>
                <time>published: {{ post.published_date }}</time>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}

    <p>If you're seeing this, you're not supposed to be here!</p>
    <p>This is not an elevator.</p>
</body>
</html>
